<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a Child to Gift</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/stylevol.css">
</head>
<body>
<div class="container mt-5">
    <div class="vol-personal-card mb-4">
        <h2>{{.Volunteer.Name}} {{.Volunteer.Surname}}</h2>
        <p><strong>Email:</strong> {{.Volunteer.Email}}</p>
        <p><strong>Phone:</strong> {{.Volunteer.Phone}}</p>
    </div>

    <div class="container">
        <h1>Children's Wish Lists</h1>
        
        <div id="children-list">
            <div class="child-wish mb-3 pb-2 border-bottom">
                {{range .Children}}
                <h3>{{.Name}} {{.Surname}}</h2>
                <p>Wish:  {{if .Wish}}{{.Wish.Wishes}}{{else}}No wishes listed{{end}}</p>
                {{else}}
                <p>No children assigned</p>
            {{end}}
               
            </div>

         

        </div>
    </div>
</div>


<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="../static/js/script.js"></script>
</body>
</html>
