<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a Child to Gift</title>
    <link rel="stylesheet" href="../static/style/stylevol.css">
</head>
<body>
    <div class="vol-personal-card">
        <h2>{{.Name}} {{.Surname}}</h2>
        <p><strong>Email:</strong> {{.Email}}</p>
        <p><strong>Phone:</strong> {{.Phone}}</p>
    </div>
    <div class="container">
        <h1>Children's Wish Lists</h1>
        <div id="children-list">
            <div class="child-wish">
                <h2>Child's Name</h2>
                <p>Wish: A toy car</p>
                <button class="gift-button">Choose to Gift</button>
            </div>

        </div>
    </div>

    <script src="../static/js/script.js"></script>
</body>
</html>
